/*************
* Header CSS
*************/

/**********************************************************
* Tag selectors
**********************************************************/

/******************************************
* Override default input range appearance
******************************************/
input[type='range'],
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

body {
    overflow: hidden;
    
    margin: 0px;
}


/**********************************************************
* Class selectors
**********************************************************/
.title_icon {
    padding-left:  15px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-top:    8px;

    float: right;
}
.title_icon:hover {
    background: var(--header_icon_hover_color);
}

.header_button {
    position: relative;

    //border-right: 1px solid black;
    
    padding: 18px;
    //padding-left:   20px;
    //padding-right:  20px;
    //padding-top:    27px;
    //padding-bottom: 16px;

    background-color: var(--header_icon_normal_color);
}
.header_button:hover {
    background-color: var(--header_icon_hover_color);
}

/**********************************************************
* Id selectors
**********************************************************/
#title_bar {
    height: var(--title_height);
    
    background-color: var(--title_color);
    
    font-size: 15px;

    /***********************************************************
    * There is no transparency so the background appears white
    ***********************************************************/
    border-radius: 0px 0px 0px 0px;
}
#title_text {
    position: relative;

    padding-left: 20px;

    top: 8px;
}

#header {
    overflow: hidden;
    position: absolute;

    background-color: var(--header_color);
    
    //border-top:    1px solid black;
    border-bottom: 1px solid black;
    
    width:  100%;
    height: var(--header_height);
}

#add_button { display: none; }

#playing_div {
    position: relative;
    background-color: var(--header_color);
    
    top:  -64px;
    left: 472px;

    height: var(--header_height);
}
#player_div {
    position: relative;
    
    top:  20px;
    left: 50px;
}
#progress_slider {
    position: relative;

    border: 1px solid black;

    height: 10px;
    width:  300px;
}
#progress_slider::-webkit-slider-thumb {
    background-color: black;
    
    height: 20px;
    width:  10px;
}
#progress_label {
    position: relative;

    padding-right: 10px;
}
#volume_icon {
    position: relative;
    
    border: 1px solid black;
    border-radius: 2px;

    padding: 10px;

    top: -8px;
    left: 470px;
}
#volume_icon:hover {
    background-color: #aaaaaa;
}