/***************
* Right td CSS
***************/

/**********************************************************
* Class selectors
**********************************************************/

.table { -webkit-user-select: none; }

.table th {
    /******************************************************
    * Right and bottom borders are from .table th
    * Left and top borders are from left_td and #right_td
    ******************************************************/
    border-bottom: 1px solid black;
    border-right:  1px solid black;

    height: 40px;
    width:  150px;
}
.table td {
    overflow:      hidden; /* For long text trimming */
    white-space:   nowrap;
    max-width:     200px;
    text-overflow: ellipsis;

    border-right: 1px solid black;

    padding-top:    15px;
    padding-bottom: 15px;
    padding-left:   20px;
    padding-right:  20px;

    text-align: left;
}

.track_table_n_col        { text-align: center !important; }
.table tr:nth-child(even) { background-color: #eeeeee; }

/**********************************************************
* Id selectors
**********************************************************/

#right_td {
    position: absolute;
    overflow: scroll;

    border-left: 1px solid black;
    
    top:  calc( var(--header_height) + 2px );
    left: var(--left_menu_width);

    width:  calc( 100% - var(--left_menu_width) );
    height: calc( 100% - var(--header_height)   );
}

/**************************
* Wikipedia search iframe
**************************/
#wiki_iframe {
    position: relative;

    display: none;
    
    height: 100%;
    width:  100%;
}

/***********************
* Icecast search table
***********************/
#icecast_table { display: none; }